@media (max-width: 768px) {
}

.signIn-heading {
  color: #fff;
  font-family: "Istok Web";
  font-style: normal;
  font-weight: 700;
  /* margin-top: 50px; */
  line-height: normal;
  text-align: center;
}

.signIn-main-div {
  width: 100%;
}

.content-wrapper {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  gap: 50px;
  /* padding-bottom: 30px; */
}

.form-input {
  border-bottom: 5px solid black;
  width: 100%;
}

input:focus {
  outline: none;
}

.forgot-password {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
